html{
  height:100%;
  width: 100%
}
 
body{
  width: 100%;
  height:100%;
}
#app{
  height: 100%;
  width: 100%
}

#app>div:first-child {
  height: 100%;
  width: 100%;
}

#app>div:first-child>div:last-child{
  height: calc(100% - 56px);
  width: 100%;
}
.pictureContainer{
  margin: auto;
  width: 80%;
  height: 250px;
  background-color: #fff;
  border-bottom: 1px solid #3A5169;
}


.picture{
  margin-top: 3%;
  margin-bottom: 3%;
  width: 225px;
  height:300px;
  border-radius: 100%;
  border: 1px solid #E1E1E1; 
}

.name{
  display: inline-block;
  font-size: 40px;
  position: absolute;
  margin-top: 8%;
  margin-left:5%;
  color: #3A5169;
}

.item:hover{
    background-color:#d1f1f9;
}

.col-md-2 h4 {
  color: #3498DB
}

.col-md-2 h5 {
  color: #3498DB;
  font-weight: bold;
}

.col-md-2 {
  width: 28.32%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-align: center;
}

.col-md-3 {
  max-height: 100px;
  width: 33%;
  float: left;
  text-align: center;
}

.col-md-4 {
  max-height: 100px;
  width: 20%;
  float: left;
  text-align: center;
  color: #3498DB;
}

.col-md-two {
  width: 50%;
  float: left;
  max-height: 100px;
  text-align: center;
}

.about-title {
  text-align: center;
}

.row {
  width: 75%
}

.sect-3 h1, p {
  color: #3498DB;
}

.sect-3 {
  overflow: hidden;
  padding-top: 5%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #3498DB;
    margin: 1em 0;
    padding: 0;
}