#app, #app>div, .full, .check-list>div, .check-list>div>div, .check-list {
	height: 100%;
}

body {
	color: #333333;
}

.full>div:last-child {
	height: calc(100% - 56px);
}

.resource-container {
	height: calc(100% - 50px);
}

.resource-container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.blue {
	z-index: 200;
}

.header {
	height: 50px;
	z-index: 20;
}

.header>div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	border-bottom: 1px solid #ECF0F1;
	color: #ECF0F1;
	background-color: #3498DB;
	z-index: 21;
}

.header h3 {
	color: #ECF0F1;
}

.back-button {
  width: 50px;
  padding-right: 5px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-right: 1px solid #ECF0F1;
}

.back-button:hover {
	background-color: #E74C3C;
	color: #ECF0F1;
	cursor: pointer;
}

.header-left {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-left: 25px;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.header-right {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direciton: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
	font-size: 1.15em;
}

.check-list {
	z-index: 10;
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2;
}

.check-list .mui-menu {
	width: 100% !important;
}

.check-list .mui-menu .mui-paper-container {
	padding-top: 0;
}

.check-list .mui-menu .mui-paper-container .mui-menu-item:first-child{
	font-size: 1.7em;
}

.resources {
	z-index: 5;
	-webkit-flex: 5;
	-ms-flex: 5;
	flex: 5;
	max-height: 100%;
}

.single-resource {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.resource-info>div {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	background-color: #ECF0F1;
}

.rating {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
	padding-top: 10px;
}

.resource-name-desc {
	border-left: 1px solid #FFFFFF;
	padding-left: 20px;
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5;
  padding-bottom: 10px;
	padding-top: 10px;
}

.resource-link {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  display: flex;
}

.resource-link>a {
	flex: 1;
	display: flex;
}

.rating-number {
	order: 2;
	font-size: 2em;
}

.plus:hover, .minus:hover {
	cursor: pointer;
}

.plus-minus {
	padding-right: 5px;
	order: 1;
	display: flex;
	flex-direction: column;
}

.view-button {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #333333;
	border-left: 1px solid #FFFFFF;
	font-size: 1.5em;
}

.view-button:hover {
  background-color: #3A5169;
  color: #ECF0F1;
}

.resource-comments {
	padding-left: 10px;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.resource-comments h5 {
	margin: 0;
}

.comment-list {
	padding-top: 5px;
	overflow-y: auto;
	flex: 1;
	height: 400px;
}

.single-comment {
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

.single-comment>div>div {
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.reset {
	margin: 0;
	padding: 0;
}

.bold {
	font-size: 1.6em;
}

.section {
	margin: 0;
	padding: 0;
	font-weight: 600;
}

.title {
	margin-left: 5px;
}

.item {
	margin-left: 10px;
}}