.newResourceHeader{
  margin-bottom: 0;
  display: inline-block;
  letter-spacing: 1px;
  margin-right: 2%;
  font-size: 30px;
}

.row{
  margin-bottom: 0;
}

.addResource{
  font-size: 16px;
}

.mui-text-field{
  width: 100%;
  height: 39px;
}

.left{
  margin-right: 5%;
  width: 60%;
  display: inline-block;
}

.right{
  width: 24%;
  height: 530px;
  display: inline-block;
}

.resourceType{
  margin-bottom: 5%;
}

.Rating{
  width: 6%;
}

.Name{
  width: 25%;
}

.Description{
  width: 30%;
}

.Type{
  width:15%;
}

.ViewResource{
  width: 10%;
}

.AddToCurriculum{
  width: 10%;
}

.topic{
  max-width: 500px;
  max-height: 300px;
  margin: auto;
  margin-top: 9.5%;
}

.btn-flat{
  background-color: #3498DB;
  margin-right: 5px;
}

.bar-btn-flat{
  background-color: #3498DB;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.bar-div{
  background-color: #3498DB;
}

h3{
  margin: auto 0;
  font-size: 2em;
  padding-top: 10px;
  padding-bottom: 13px;
  margin-right: 10px;
  margin-left: 18px;
  padding-left: 5px;
  padding-right: 5px;
}

.center{
  margin-right: auto;
  margin-left: auto;
}

.light-font{
  color: #ECF0F1 !important;
}

.mui-drop-down-menu {
  color: #ECF0F1 !important;
}

.mui-drop-down-menu:hover {
  color: #A4A7A8 !important;
}

.mui-flat-button-label {
  width: 100%;
}

.mui-flat-button.mui-is-secondary {
  background-color: #3498DB;
  color: #ECF0F1;
  transition: 0.3s;
}

.mui-flat-button.mui-is-secondary:hover {
  color: #ECF0F1;
  background-color: #3A5169;
}

.full-button {
  display: block;
  width: 100%;
}
