.newResourceHeader{
  margin-bottom: 0;
  display: inline-block;
  letter-spacing: 1px;
  margin-right: 2%;
  font-size: 30px;
}

.row{
  margin-bottom: 0;
}

.addResource{
  font-size: 16px;
}

.mui-text-field{
  width: 100%;
  height: 39px;
}

.left{
  margin-right: 5%;
  width: 60%;
  display: inline-block;
}

.right{
  width: 25%;
  display: inline-block;
}

.resourceType{
  margin-bottom: 5%;
}

.Rating{
  width: 6%;
}

.Name{
  width: 25%;
}

.Description{
  width: 30%;
}

.Type{
  width:15%;
}

.ViewResource{
  width: 10%;
}

.AddToCurriculum{
  width: 10%;
}

.topic{
  max-width: 500px;
  max-height: 300px;
  margin: auto;
  margin-top: 9.5%;
}

.btn-flat{
  background-color: #3498DB;
  margin-right: 5px;
}