.index{
  font-size: 15px;
}

p{
  font-size: 15px;
}

input[type=text] {
  width: 100%;
}

.PopularLanguages, .PopularCurricula{
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.box{
  width: 15%;
  height: 200px;
  display: inline-block;
  margin: 1%;
}

.searchBarContainer{
  margin: 1% auto;
  width:60%;
}

.searchBar{
    display: block;
}

.searchList{
    list-style: none;
    display: inline-block;
    text-align: left;
    width: 100%;
}

.searchItem{
    display: block;
    padding: 15px 20px;
    background-color: #F8F8F8;
    color: #7B8585;
    margin-bottom: 3px;
    position: relative;
    transition: 0.3s;
}

.graphLink{
  position: absolute;
  left: 43%;
}

.curriculumLink{
  position: absolute;
  left: 75%;
}

.searchItem:hover{
    background-color:#d8f2f1;
}