.index{
  font-size: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.index .mui-tabs-container .mui-tab-item-container{
  background-color: #3498DB;
}

.index .mui-ink-bar {
  background-color: #E74C3C;
}

p{
  font-size: 15px;
}

input[type=text] {
  width: 100%;
}

.popular-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}


.popular-container h1, .popular-container h2, .popular-container h3, .popular-container h4{
  color: #6D665C;
}

i {
  padding-bottom: 10px;
  padding-right: 3px;
}

.popular-container h3 {
  font-size: 1.8em;
  margin-left: 10px;
  margin-bottom: 10px;
}

.popular-container h5 {
  font-size: 1.7em;
  color: #6D665C;
  padding-top: 20px;
}

img {
  max-width: 100px;
  max-height: 100px;
}

.PopularLanguages, .PopularCurricula{
  width: 90%;
  text-align: center;
  margin-bottom: 10px;
}

.inner-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.inner-container a {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}
.box {
  width: 100%;
  height:  200px;
  background-color: #FFFFFF;
  color: #6D665C;
  transition: 0.5s;
}

.box:hover {
  box-shadow: rgba(0, 0, 0, 0.227451) 0px 6px 10px 0px;
}

.box>div{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.searchBarContainer{
  margin: 1% auto;
  width:60%;
}

.searchBar{
    display: block;
}

.searchList{
    list-style: none;
    display: inline-block;
    text-align: left;
    width: 100%;
}

.searchItem{
    display: block;
    padding: 15px 20px;
    background-color: #F8F8F8;
    color: #7B8585;
    margin-bottom: 3px;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.graphLink{
  position: absolute;
  left: 43%;
}

.curriculumLink{
  position: absolute;
  left: 75%;
}

.searchItem:hover{
    background-color:#d8f2f1;
}

.banner-container h1, .banner-container h2, .banner-container h3, .banner-container h4, .banner-container p, .banner-container ul, .banner-container li{
  color: #ECF0F1;
  font-weight: bold;
  /*text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
}

.banner-container {
  text-align: center;
  border-top: 2px solid #E74C3C;
  border-bottom: 2px solid #E74C3C;
  color: #ECF0F1;
  background-color: #E74C3C;
  background-size: 4px 4px;
}

.banner-container .mui-flat-button.mui-is-secondary {
  color: #ECF0F1;
  background-color: #2980B9;
}