.blue.mui-toolbar {
  background-color: #2980B9 !important;
  padding-right: 0 !important;
}

.blue .mui-app-bar-title {
  color: #FFFFFF !important;
}

.blue .mui-drop-down-menu {
  color: #FFFFFF !important;
}

.blue .mui-drop-down-menu:hover {
  color: #A4A7A8 !important;
}

.blue .mui-flat-button-label {
  width: 100%;
}

.blue .mui-left:first-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  margin-left: 0px !important;
  margin-right: 10px !important;
  
}

.blue .mui-left>a>h3{
  padding: 0;
  margin: auto 0;
  font-size: 2.2em;
}

.blue .mui-flat-button.mui-is-secondary {
  color: #687D77;
}