.blue {
  background-color: #3498DB !important;
  padding: 0 auto !important;
}

.mui-app-bar-title {
  color: #FFFFFF !important;
}

.mui-drop-down-menu {
  color: #FFFFFF !important;
}

.mui-drop-down-menu:hover {
  color: #A4A7A8 !important;
}

.mui-flat-button-label {
  width: 100%;
  margin-left: 5%;
}

.mui-left:first-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  margin-left: 0px !important;
  
}

.mui-left>a>h3{
  padding: 0;
  margin: auto 0;
  font-size: 2.2em;
}

.mui-flat-button.mui-is-secondary {
  margin: auto auto;
  padding: 0;
  color: #687D77;
}