.signup-main {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 10px;
	height: calc(100% - 150px);
}

.signup-box {
	width: 27%;
	max-height: 550px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.signup-box>div{
	padding-top: 20px;
	padding-bottom: 20px;
	max-height: 550px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.signup-box h1 {
	font-family: 'Raleway', sans-serif;
}

#app {
	height: 100%;
}

#app>.full {
	height: 100%;
}

.button-container {
	display: flex;
	flex-direction: row;
}